.task-create-button {
    font-size: x-small;
    color: gray;
    margin-left: 170px;
    margin-bottom: 5px;
}
.example-form {
    height: 100%;
    //width: 90%;
    background-color: silver;
    text-align: center;
}

